.root {
    -fx-base: #222222;
    -fx-background-color: #222222;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-text-fill: #ffffff;
}

.text {
    -fx-fill: #ffffff;
}

.value-text {
    -fx-fill: #ffffff;
}